/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: relative;
  background-color: $purple;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__logo {
    display: block;
    float: left;

    img {
      width: 132px;
      height: 56px;

      @media (min-width: 768px) {
        width: 172px;
        height: 73px;
      }
    }
  }
}

/* Adds dropdown support, gives a good example of nesting
 * with SCSS. The classes are specific to the Scratch
 * Theme for WordPress. If you are not using Scratch, you
 * can simply get rid of them.
 */

nav {
  ul.main-nav {
    list-style: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    @extend .clearfix;

    li {
      display: block;

      a {
        color: $white;
        display: block;
        padding: 0.5rem 1rem;

        @media (min-width: 767px) and (max-width: 900px) {
          font-size: 13px!important;
          padding: 0rem .8rem!important;
        }

        
        &:hover {
          color: $yellow;
          text-decoration: none;
        }

        &.is-active {
          color: $yellow;
        }
      }
    }

    ul.sub-menu {
      padding-left: 1rem;
      display: none;
    }
  }
}

@media (min-width: 767px) {
  nav ul.main-nav {
    position: relative;
    width: auto;
    top: 0;
    float: right;
    display: block !important;
    li {
      float: left;
      text-align: center;

      a {
        padding: 0px 1rem;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: 'Lato', sans-serif;

        &:hover {
          color: $yellow;
        }
      }
    }
    ul.sub-menu {
      background-color: $purple;
      padding: 0;
      position: absolute;
      top: 100%;

      li {
        float: none;
        position: relative;
        text-align: left;

        a {
          padding: 0.5rem 1rem;
        }
      }

      ul {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }

  nav ul.main-nav li > ul li {
    display: block;
  }
}


.current-menu-ancestor > a:not(.sub-menu) {
  color: $yellow;
}