.info {

	&__intro {
		strong {
			padding-bottom: 1rem;
			display: inline-block;
		}

		@media (min-width: 768px) {
			font-size: 28px;
			line-height: 1.5;

			strong {
				font-size: 36px;
			}
		}
	}

	&__container {
		padding-bottom: 3rem;
		width: 100%; 	
	}

	&__heading {
		margin-top: 0rem;
	}

	&__screensize {
		background: $white;
		border-radius: 7px;
		box-shadow: 0px 0px 18px rgba($purple, .19);
		padding: 1.5rem 1rem;
		width: 100%;
		margin: 10px 0px;	

		@media (min-width: 768px) {
			margin: 0px 15px;
			width: calc(33.28% - 30px);
		}

		&.succes {
			background-color: #16A361;
		}

		&.error {
			background-color: #A32816;
		}

		&.succes, &.error {
			color: $white;
		}
	}

	&__title {
		margin-top: 0rem;
	}
}