/* Color classes (modify as needed) */

$colors: "yellow" $yellow, "orange" $orange, "purple" $purple, "white" $white, "gray" $gray, "silver" $silver, "black" $black, "gradient" $gradient;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value;
  }
}


.purple--bg {
	color: $white;
}