.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

.row {
  @extend .clearfix;
	
	@media (min-width: 768px) {
		margin-left: -15px;
			margin-right: -15px;
	}
}

.btn {
	display: inline-block;

	&--gradient {
		background: $gradient;
		border-radius: 30px;
		color: $white;
		padding: .4rem 2rem;
		font-family: 'lato';
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1px;
		box-shadow: 0px 16px 33px rgba($orange, .19);
		position: relative;
		overflow: hidden;
		flex: 1 1 auto;
		background-size: 112% auto;
		transition: all ease .6s;

		@media (min-width: 768px) {
			padding: .7rem 2rem;
			font-size: 14px;
		}

		&:hover {
			background-position: 100%; 
			box-shadow: 0px 16px 33px rgba($orange, .35);
		}

		&:focus, &:hover {
			text-decoration: none; 			
		} 
	}
}

.bx-shadow {
	border-radius: 7px;

	&--purple {
		box-shadow: 0px 0px 18px rgba($purple, .19);
	}
}

.is-fixed {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

.no-responsive {
	overflow-x: auto;

	img {
		max-width: none;
	}

	img:not(:first-child) {
		padding-top: 3rem;
	}
}

